.content-h-gallery a{
  font-family: "Rammetto One", cursive;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255, 1);
  text-decoration: none;
}

.content-h-gallery a:hover{
    color: rgb(128, 0, 0, 1);
}  