{% load static %}

<div class="container-fluid d-md-none mt-3 mb-0">
    <div class="row menu-icon header-logo-sm text-center">
        <div class="col">
            <a href="index.html"><img src="{% static 'images/logo/logo.png' %}" class="img-fluid" alt="Logo" /></a>
        </div>
    </div>
</div>
<div class="container-fluid d-md-none">
    <div class="row menu-icon text-center">
        <div class="col">
            <span onclick="openMenu()"><i class="fas fa-bars"></i></span>
        </div>
    </div>
</div>
<div class="menu-container" id="navbar">
    <span class="closebtn" onclick="closeMenu()">&times;</span>
    <div class="menu-content">
        <div class="header-logo mb-2">
            <img src="{% static 'images/logo/logo.png' %}" alt="Ignite Theatre Logo" />
        </div>
        <a href="{% url 'home' %}" class="text-uppercase">Home</a>
        <a href="{% url 'about' %}" class="text-uppercase">About</a>
        <span onclick="openMenuGallery()"><a class="text-uppercase">Gallery&nbsp;<i
                    class="fa-solid fa-chevron-right"></i></a></span>
        <span onclick="openMenuCast()"><a class="text-uppercase">Cast&nbsp;<i
                    class="fa-solid fa-chevron-right"></i></a></span>
        <a href="" class="text-uppercase">Contact</a>
        <a href="" class="text-uppercase">Tickets</a>
    </div>
</div>
<div class="menu-container" id="navbar-gallery">
    <span class="closebtn" onclick="closeAllMenu()">&times;</span>
    <div class="menu-content">
        <div class="header-logo mb-3">
            <img src="{% static 'images/logo/logo.png' %}" alt="Ignite Theatre Logo" />
        </div>
        <span onclick="closeMenuGallery()"><a class="text-uppercase nav-mob-back"><i
                    class="fa-solid fa-chevron-left"></i></a></span>
        <p class="nav-mob-subheader mt-2 pb-0 mb-2">
            <u>Past Productions</u>
        </p>
        <a href="{% url 'galleries' %}?show=gabriel" class="text-uppercase menu-content-sub">Gabriel</a>
        <a href="{% url 'galleries' %}?show=wind_and_the_willows" class="text-uppercase menu-content-sub">Wind and the
            Willows</a>
        <a href="{% url 'galleries' %}?show=the_memory_of_water" class="text-uppercase menu-content-sub">The Memory of
            Water</a>
    </div>
</div>
<div class="menu-container" id="navbar-cast">
    <span class="closebtn" onclick="closeAllMenu()">&times;</span>
    <div class="menu-content">
        <div class="header-logo mb-3">
            <img src="{% static 'images/logo/logo.png' %}" alt="Ignite Theatre Logo" />
        </div>
        <span onclick="closeMenuCast()"><a class="text-uppercase nav-mob-back"><i
                    class="fa-solid fa-chevron-left"></i></a></span>
        <p class="nav-mob-subheader mt-2 pb-0 mb-2">
            <u>Current Production</u>
        </p>
        <a href="{% url 'casts' %}?show=a_grandmas_grimm" class="text-uppercase menu-content-sub">A Grandma's
            Grimm</a>
        <p class="nav-mob-subheader mt-2 pb-0 mb-2">
            <u>Past Productions</u>
        </p>
        <a href="{% url 'casts' %}?show=gabriel" class="text-uppercase menu-content-sub">Gabriel</a>
        <a href="{% url 'casts' %}?show=wind_and_the_willows" class="text-uppercase menu-content-sub">Wind and the
            Willows</a>
        <a href="{% url 'casts' %}?show=the_memory_of_water" class="text-uppercase menu-content-sub">The Memory of
            Water</a>
    </div>
</div>