{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">
        <!---Header--->
        {% for show in shows %}
        <div class="text-box-inside">
            <div class="col-12">
                <p class="page-main-header text-uppercase mt-4 mb-0">
                    {{ show.name }}
                </p>
                <p class="page-main-sub-headers">
                    {{ show.date }}
                </p>
                <p class="page-main-sub-headers">TICKETS AVAILABLE FROM:&emsp;<a target="_blank"
                        href="{{ show.ticket_retail_url }}" target="_blank"><i class="fa-solid fa-ticket"
                            style="vertical-align: middle;"></i></a>
                </p>
            </div>
        </div>

        <!---Content--->
        <div class="text-box-inside-content">
            <div class="row">
                <div class="col-md-6 mt-0 text-center margin-poster">
                    <img src="{{ show.show_poster.url }}" class="img-fluid grandmas-grimm" alt="Grimm's Fairy Tales" />
                </div>
                <div class="col-md-6 mt-5">
                    <p class="content-h mb-2 text-uppercase pb-3">
                        <i class="fa-solid fa-book-open"></i>&emsp;{{ show.name }}
                    </p>
                    <p class="content-p">
                        {{ show.show_content|linebreaksbr }}
                    </p>
                    <p class="content-p text-left">
                        Please follow and join us. All suggestions and feedback are welcome:
                    </p>
                    <div>
                        <i class="fas fa-arrow-right"></i>&emsp;&emsp;
                        <a href="https://www.facebook.com/ignite.fringe"
                            aria-label="Read more at Ignite Theatre Facebook page" target="_blank"><i
                                class="fab fa-facebook-square"></i></a>&emsp;&emsp;
                        <a href="https://www.instagram.com/ignitetheatre.company/"
                            aria-label="Read more at Ignite Theatre instagram page" target="_blank"><i
                                class="fab fa-instagram"></i></a>&emsp;&emsp;
                        <a href="mailto:hello.ignite.theatre@gmail.com?" aria-label="Contact us by email"
                            target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <p class="content-h mb-2 mt-4 text-uppercase">
                        <i class="fa-solid fa-ticket"></i>&emsp;Tickets
                    </p>
                    <p class="content-p pt-3 mb-3">Tickets available from:&emsp;&emsp;</p>
                    <p class="content-p mb-0">
                        {{ show.ticket_retail_address|linebreaksbr }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

        <!---Content 2--->
        <div class="text-box-inside-content">
            <div class="col-12 mt-4">
                <p class="content-h mb-2 text-uppercase pb-3">
                    <i class="fa-solid fa-masks-theater"></i>&emsp;Upcoming Shows
                </p>
                <div class="row pb-2">
                    {% for upcoming in upcomings %}
                    <div class="col-sm-12 col-md-3 mb-3">
                        <p class="content-p">
                            <strong><u>{{ upcoming.name }}</u></strong><br>
                            {{ upcoming.address|linebreaksbr }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!---Content 3--->
        <div class="text-box-inside-content mb-5">
            <div class="col-12 mt-4">
                <p class="content-h mb-2 text-uppercase pb-3">
                    <i class="fas fa-handshake"></i>&emsp;Supporters
                </p>
                <div class="row pb-2">
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <a href="https://www.artscouncil.org.uk/" target="_blank">
                            <img src="{% static 'images/logo/arts-council-england.png' %}" class="img-fluid supporters"
                                alt="Arts Council England Logo" />
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <a target="_blank" href="https://www.newhavenfestival.co.uk/">
                            <img class="img-fluid supporters" src="{% static 'images/logo/NF21.png' %}"
                                alt="NF21 logo" />
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <a target="_blank" href="https://www.newhaventowncouncil.gov.uk/">
                            <img class="img-fluid supporters" src="{% static 'images/logo/NTC.png' %}" alt="NTC logo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}


{% endblock %}