{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">
        <!---Header--->
        {% for show in shows %}
        <div class="text-box-inside">
            <div class="col-12 text-center">
                <p class="page-main-header text-uppercase mt-4 mb-0">
                    {{ show.name }}
                </p>
                <p class="page-main-sub-headers">
                    {{ show.date }}
                </p>
                <p class="page-main-sub-headers">TICKETS AVAILABLE FROM:&nbsp;&nbsp;&nbsp;
                </p>
                <div class="row mb-4 mt-4">
                    <div class="col-12 d-flex">
                        <div class="mx-auto">
                            <a href="{{ show.ticket_retail_url }}" target="_blank">
                                <img src="{{ show.ticket_retail_image.url }}"
                                    srcset="{{ show.ticket_retail_image.url }}" class="img-fluid retail-logo-title pb-1"
                                    width=200 alt="{{ show.name }}" />
                            </a>
                            <div class="ticket-logo-links pt-2">
                                <a href="{{ show.ticket_retail_url }}" target="_blank">
                                    BOOK NOW
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---Content--->
    <div class="text-box-inside-content">
        <div class="row">
            <div class="col-md-6 mt-0 text-center margin-poster">
                <picture>
                    <source type="image/webp">
                    <img src="{{ show.show_poster.url }}" srcset="{{ show.show_poster.url }}"
                        class="img-fluid grandmas-grimm" height=600 alt="{{ show.name }}" />
                </picture>
            </div>
            <div class="col-md-6 mt-5 ">
                <p class="show-sound-bite mb-2 text-uppercase pb-3">
                    {{ show.show_sound_bite }}
                </p>
                <p class="content-p">
                    {{ show.show_content|linebreaksbr }}
                </p>
                <p class="content-h mb-0 mt-4 text-uppercase">
                    <i class="fa-solid fa-ticket"></i>&nbsp;&nbsp;&nbsp;Tickets
                </p>
                <p class="content-p pt-3 mb-3">Tickets available from:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <div class="row mb-4 mt-4">
                    <div class="col-12 mx-auto">
                        <div>
                            <a href="{{ show.ticket_retail_url }}" target="_blank">
                                <img src="{{ show.ticket_retail_image.url }}"
                                    srcset="{{ show.ticket_retail_image.url }}" class="img-fluid retail-logo-title pb-1"
                                    width=200 alt="{{ show.name }}" />
                            </a>
                            <div class="ticket-logo-links pt-2">
                                <a href="{{ show.ticket_retail_url }}" target="_blank">
                                    BOOK NOW
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!---Upcoming Shows--->
        <div class="text-box-inside-content" style="background:rgb(255, 255, 255, 0.9);">
            <div class="col-12 mt-4">
                <p class="content-h mb-2 text-uppercase pb-3 pt-3" style=" color:rgb(0, 0, 0, 1);">
                    <i class="fa-solid fa-star"></i>&nbsp;&nbsp;&nbsp;Upcoming Shows
                </p>
                <div class="row pb-2">
                    {% for upcoming in upcomings|dictsort:"position" %}
                    <div class="col-sm-12 col-md-3 mb-3">
                        <p class="content-p-profile text-uppercase" style=" color:rgb(0, 0, 0,1);">
                            <strong><u>{{ upcoming.name }}</u></strong><br>
                        </p>
                        <p class="content-p-profile" style=" color:rgb(0, 0, 0,1);">
                            {% if upcoming.location %}
                            <strong>Location:&nbsp;&nbsp;&nbsp;</strong>{{ upcoming.location }}<br>
                            {% endif %}
                            {% if upcoming.date %}
                            <strong>Date:&nbsp;&nbsp;&nbsp;</strong>{{ upcoming.date }}
                            {% endif %}
                        </p>
                        <p class="content-p-profile" style=" color:rgb(0, 0, 0,1);">
                            {% if upcoming.location_2 %}
                            <strong>Location:&nbsp;&nbsp;&nbsp;</strong>{{ upcoming.location_2 }}<br>
                            {% endif %}
                            {% if upcoming.date_2 %}
                            <strong>Date:&nbsp;&nbsp;&nbsp;</strong>{{ upcoming.date_2 }}
                            {% endif %}
                        </p>
                        <p class="content-p-profile" style=" color:rgb(0, 0, 0,1);">
                            {% if upcoming.location_3 %}
                            <strong>Location:&nbsp;&nbsp;&nbsp;</strong>{{ upcoming.location_3 }}<br>
                            {% endif %}
                            {% if upcoming.date_3 %}
                            <strong>Date:&nbsp;&nbsp;&nbsp;</strong>{{ upcoming.date_3 }}
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!---Content 3 Supporters
        <div class="text-box-inside-content mb-5">
            <div class="col-12 mt-4">
                <p class="content-h mb-2 text-uppercase pb-3">
                    <i class="fas fa-handshake"></i>&emsp;Supporters
                </p>
                <div class="row pb-2">
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <a href="https://www.artscouncil.org.uk/" target="_blank">
                            <img src="{% static 'images/logo/arts-council-england.png' %}" class="img-fluid supporters"
                                alt="Arts Council England Logo" />
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <a target="_blank" href="https://www.newhavenfestival.co.uk/">
                            <img class="img-fluid supporters" src="{% static 'images/logo/NF21.png' %}"
                                alt="NF21 logo" />
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <a target="_blank" href="https://www.newhaventowncouncil.gov.uk/">
                            <img class="img-fluid supporters" src="{% static 'images/logo/NTC.png' %}" alt="NTC logo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        --->

        <!---Carousel--->
        <div class="text-box-inside-content mb-5">
            <div class="col-12 mt-4 mb-5">
                <p class="content-h mb-2 text-uppercase pb-3 pt-3">
                    <i class="fa-solid fa-masks-theater"></i>&nbsp;&nbsp;&nbsp;Past Productions
                </p>

                <!---Display md/ lg--->
                <div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row mx-auto">
                                <div class="col-md-4 mb-3">
                                    <a href="{% url 'galleries' %}?show=a_grandmas_grimm">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/a_grandmas_grimm.png' %}"
                                                srcset="{% static 'images/posters/a_grandmas_grimm.png' %}"
                                                class="d-block w-50 mx-auto production-posters"
                                                alt="Poster - A Grandma's Grimm">
                                        </picture>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="{% url 'galleries' %}?show=gabriel">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/gabriel.png' %}"
                                                srcset="{% static 'images/posters/gabriel.png' %}"
                                                class="d-block w-50 mx-auto production-posters" alt="Poster - Gabriel">
                                        </picture>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="{% url 'galleries' %}?show=the_memory_of_water">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/TMOW.png' %}"
                                                srcset="{% static 'images/posters/TMOW.png' %}"
                                                class="d-block w-50 mx-auto production-posters"
                                                alt="Poster - The Memory of Water">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-auto">
                                <div class="col-md-4 mb-3">
                                    <a href="{% url 'galleries' %}?show=wind_and_the_willows">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/WITW.png' %}"
                                                srcset="{% static 'images/posters/WITW.png' %}"
                                                class="d-block w-50 mx-auto production-posters"
                                                alt="Poster - The Wind and the Willows">
                                        </picture>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="{% url 'galleries' %}?show=eight">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/eight.png' %}"
                                                srcset="{% static 'images/posters/eight.png' %}"
                                                class="d-block w-50 mx-auto production-posters" alt="Poster - Eight">
                                        </picture>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="{% url 'casts' %}?show=james_and_the_giant_peach">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/james' %}"
                                                srcset="{% static 'images/posters/james_and_the_giant_peach.png.png' %}"
                                                class="d-block w-50 mx-auto production-posters"
                                                alt="Poster - James and the Giant Peach">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!---Display Small--->
                <div id="carouselExampleControlsNoTouching" class="carousel slide d-md-none" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row mx-auto">
                                <div class="col-12 mb-3 poster-carousel">
                                    <a href="{% url 'galleries' %}?show=a_grandmas_grimm">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/a_grandmas_grimm.png' %}"
                                                srcset="{% static 'images/posters/a_grandmas_grimm.png' %}"
                                                class="d-block mx-auto production-posters"
                                                alt="Poster - A Grandma's Grimm">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-auto">
                                <div class="col-12 mb-3 poster-carousel">
                                    <a href="{% url 'galleries' %}?show=gabriel">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/gabriel.png' %}"
                                                srcset="{% static 'images/posters/gabriel.png' %}"
                                                class="d-block mx-auto production-posters" alt="Poster - Gabriel">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-auto">
                                <div class="col-12 mb-3 poster-carousel">
                                    <a href="{% url 'galleries' %}?show=the_memory_of_water">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/TMOW.png' %}"
                                                srcset="{% static 'images/posters/TMOW.png' %}"
                                                class="d-block mx-auto production-posters"
                                                alt="Poster - The Memory of Water">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-auto">
                                <div class="col-12 mb-3 poster-carousel">
                                    <a href="{% url 'galleries' %}?show=wind_and_the_willows">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/WITW.png' %}"
                                                srcset="{% static 'images/posters/WITW.png' %}"
                                                class="d-block mx-auto production-posters"
                                                alt="Poster - The Wind and the Willows">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-auto">
                                <div class="col-12 mb-3 poster-carousel">
                                    <a href="{% url 'galleries' %}?show=eight">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/eight.png' %}"
                                                srcset="{% static 'images/posters/eight.png' %}"
                                                class="d-block mx-auto production-posters" alt="Poster - Eight">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-auto">
                                <div class="col-12 mb-3 poster-carousel">
                                    <a href="{% url 'casts' %}?show=james_and_the_giant_peach">
                                        <picture>
                                            <source type="image/webp">
                                            <img loading="lazy" src="{% static 'images/posters/james.png' %}"
                                                srcset="{% static 'images/posters/james.png' %}"
                                                class="d-block mx-auto production-posters"
                                                alt="Poster - James and the Giant Peach">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>


</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Scroll to top feature-->
<script>

    function scrollFunction() {
        var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
        if (window.pageYOffset > 700) {
            myScrollToTopBtn.style.display = "block";
            myScrollToTopBtn.style.visibility = "visible";
        } else {
            myScrollToTopBtn.style.display = "none";
            myScrollToTopBtn.style.visibility = "hidden";
        }
    }

    window.onscroll = function () { scrollFunction() };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}