{% extends "base.html" %} {% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}" />
{% endblock %}

{% block content %}

<div class="container-fluid d-lg-none">
    <div class="row top-header">
        <div class="col">
            <p class="top-header-font text-center pb-1 pt-2 m-0">Gallery</p>
        </div>
    </div>
</div>

<section class="container-fluid" id="container-fluid-padding">

    <div class="row top-header d-none d-lg-block">
        <div class="col">
            <p class="top-header-font text-center pb-1 pt-2 m-0">Gallery</p>
        </div>
    </div>

    <div class="row text-box-outside">
        <!---Iterate through --->
        {% for c in current_shows %}
        <div class="content-h-gallery text-center mb-2">
            <a href="{{ c.cast_show_link }}">Cast&nbsp;&nbsp;<i
                    class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="{% url 'home' %}">Home&nbsp;&nbsp;<i class=" fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="col-12 mb-2">
            <p class="page-main-header text-uppercase double-underline mt-3">
                {{ c.friendly_name }}
            </p>
        </div>
        {% endfor %}
        {% for gallery in galleries %}
        <div class="col-md-6 col-lg-4 col-md-6 col-lg-4 pt-4 padding-images">
            {% if gallery.image %}
            <picture>
                <source type="image/webp">
                <img loading="lazy" src="{{ gallery.image.url }}" srcset="{{ gallery.image.url }}"
                    class="img-fluid gallery-border" alt="{{ gallery.name }}" />
                {% endif %}
            </picture>
        </div>
        {% endfor %}
    </div>
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Scroll to top feature-->
<script>

    function scrollFunction() {
        var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
        if (window.pageYOffset > 700) {
            myScrollToTopBtn.style.display = "block";
            myScrollToTopBtn.style.visibility = "visible";
        } else {
            myScrollToTopBtn.style.display = "none";
            myScrollToTopBtn.style.visibility = "hidden";
        }
    }

    window.onscroll = function () { scrollFunction() };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}