@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Pacifico&family=Rammetto+One&display=swap&family=Cardo&display=swap&family=Bebas+Neue&family=Rammetto+One&display=swap'");

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url('/media/theatre-bg.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0 0 65px;
}

/*---Content---*/

.page-main-header {
  font-family: "Rammetto One", cursive;
  font-size: 1.6rem;
  text-align: center;
  color: rgb(255, 255, 255, 1);
}

.page-main-sub-headers {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255, 1);
}

.content-p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  color: rgb(181, 189, 191, 1);
}

.content-p-testimonials {
  font-family: 'Cardo', serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  font-style: italic;
  color: rgb(255, 255, 255, 1);
}

.content-p-errors {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255, 1);
}

.content-p-errors a {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255, 1);
}

.content-h-errors a {
  font-family: "Rammetto One", cursive;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(255, 255, 255, 1);
  text-decoration: none;
}

.content-p-profile {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: rgb(181, 189, 191, 1);
}

.content-p-ticket {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: left;
  color: rgb(255, 255, 255, 1);
}

.content-p-email {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  color: rgb(255, 255, 255, 1);
}

.content-h-ticket {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  color: rgb(255, 255, 255, 1);
}

.content-h {
  font-family: "Rammetto One", cursive;
  font-size: 1.25rem;
  text-align: left;
  color: rgb(255, 255, 255, 1);
}

.content-p-email a {
  color: rgb(181, 189, 191, 1);
  text-decoration: none;
}

.book-now {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  background: rgb(128, 0, 0, 1);
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  color: rgb(255, 255, 255, 1);
}

.top-header-font {
  font-family: "Rammetto One", cursive !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: rgb(255, 255, 255, 1) !important;
}

.show-sound-bite {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400 !important;
  font-size: 36px !important;
  color: rgb(255, 255, 255, 1) !important;
  text-align: center;
}

/*---Links---*/

.book-now a {
  text-decoration: none !important;
  color: rgb(255, 255, 255, 1) !important;
}

/*---Cards---*/

.card {
  width: 17rem !important;
  background-color: rgb(0, 0, 0, 1) !important;
}

.card-ticket {
  background-color: rgb(0, 0, 0, 1) !important;
  width: 18rem !important;
  border: 0px !important;
}

.card-body-profile {
  height: 22rem !important;
}

/*---Images---*/

.ticket-source {
  max-width: 100px;
}

.ticket-source2 {
  max-width: 100px;
}

.arts-council {
  width: 300px;
}

.grandmas-grimm {
  width: 600px;
}

.supporters {
  max-width: 60%;
  max-height: auto;
}

.retail-logo-content {
  max-width: 38%;
  max-height: auto;
}

.retail-logo-title {
  max-width: 15%;
  max-height: auto;
}

.header-logo img {
  height: 110px;
}

.header-logo-sm img {
  height: 150px;
}

.poster {
  width: 300px !important;
}

.poster-ticket {
  width: 200px !important;
}

.poster-ticket-details {
  width: 290px !important;
}

.poster-carousel img {
  width: 70%;
}

.poster-img-fluid {
  width: 80%;
  height: auto;
}

/*---Overflow---*/

#overflowTest {
  overflow-y: auto;
  max-height: 12rem;
}

/*---Icons/ Awesome---*/

.fa-shopping-bag {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-ticket-alt {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-ticket {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-ticket:hover {
  color: rgb(255, 255, 255, 1);
  font-size: 2rem;
}

.fa-book-open {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-envelope {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-envelope:hover {
  color: rgb(255, 255, 255, 1);
  font-size: 2rem;
}

.fa-facebook-square {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-film {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-film:hover {
  color: rgb(255, 255, 255, 1);
  font-size: 2rem;
}

.fa-arrow-right {
  color: rgb(128, 0, 0, 1);
  font-size: 1.2rem;
}

.fa-masks-theater {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-handshake {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-users {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-circle {
  color: rgb(128, 0, 0, 1);
  font-size: 0.7rem;
}

.fa-video {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-video:hover {
  color: rgb(255, 255, 255, 1);
  font-size: 2rem;
}

.fa-book-open {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-globe-europe {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-burst {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-globe-europe:hover {
  color: rgb(181, 189, 191, 1);
  font-size: 2rem;
}

.fa-chevron-left {
  color: rgb(128, 0, 0, 1) !important;
  font-size: 1.5rem !important;
}

.fa-star {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem !important;
}

.fa-regular {
  color: rgb(181, 189, 191, 1);
  font-size: 1rem;
}

.fa-location-dot .fa-calendar-days .fa-building {
  color: rgb(181, 189, 191, 1) !important;
  font-size: 1rem !important;
}

.fa-chevron-right {
  font-size: 1.5rem !important;
  color: rgb(128, 0, 0, 1) !important;
  vertical-align: middle;
}

/*---Hover---*/

.content-p-email a:hover {
  color: rgb(128, 0, 0, 1);
  text-decoration: none;
}

.fa-facebook-square:hover {
  color: rgb(181, 189, 191, 1);
  font-size: 2rem;
}

.fa-instagram {
  color: rgb(128, 0, 0, 1);
  font-size: 2rem;
}

.fa-instagram:hover {
  color: rgb(181, 189, 191, 1);
  font-size: 2rem;
}

.production-posters:hover {
  opacity: 0.7;
}

.no-hover {
  pointer-events: none !important;
}

/*---Scroll to top---*/

#my-scroll-to-top-btn {
  position: fixed !important;
  bottom: 12px !important;
  right: 10px !important;
  z-index: 20 !important;
  font-size: 18px !important;
  border: none !important;
  outline: none !important;
  background-color: rgb(128, 0, 0, 0.6) !important;
  color: rgb(255, 255, 255, 1) !important;
  cursor: pointer !important;
  padding: 8px !important;
  border-radius: 50% !important;
  transition: all 5s ease-out !important;
  width: 40px !important;
  height: 40px !important;
  visibility: hidden;
}

.fa-arrow-up {
  transition: all 5s ease-out !important;
}

/*---Text-Boxes---*/

.text-box-outside {
  background: rgb(0, 0, 0, 0.5);
  padding: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0rem;
}

.text-box-inside {
  background: rgb(0, 0, 0, 0.7);
  padding-left: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-box-inside-content {
  background: rgb(0, 0, 0, 0.7);
  margin-top: 1.2rem;
  padding-left: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*---Margins/ Padding---*/

#container-fluid-padding {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.margin-poster {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.gallery-border {
  border: 1px solid rgb(0, 0, 0, 1) !important;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.padding-images {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.padding-top-testimonial {
  padding-top: 0rem
}

/*---Underline/ border---*/

.double-underline {
  text-decoration-line: underline;
  text-decoration-style: double;
  text-underline-offset: 8px;
}

.borderline {
  border-bottom: solid 2px rgb(255, 255, 255, 1);
  width: 50px;
}

/*---Navbar---*/

.navbar-bg {
  background-color: rgb(0, 0, 0, 0.8) !important;
}

.navbar-links {
  font-family: "Rammetto One", cursive !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: rgb(255, 255, 255, 1) !important;
  text-decoration: none !important;
  padding-top: 2.5rem !important;
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.navbar-links-dropdpown {
  font-family: "Rammetto One", cursive !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: rgb(255, 255, 255, 1) !important;
  text-decoration: none !important;
  padding-top: 0rem !important;
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.dropdown-menu-links {
  background-color: rgb(0, 0, 0, 1);
  margin-top: 0.45rem !important;
}

nav ul li a:hover {
  color: rgb(128, 0, 0, 1) !important;
  text-decoration: none !important;
  background-color: rgb(0, 0, 0, 0) !important;
}

.nav-subheader {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  color: rgb(255, 255, 255, 1) !important;
  padding-top: 0rem;
  padding-left: 2.5rem;
  font-weight: 800;
  margin-bottom: 0rem;
}

.nav-mob-back {
  font-family: "Lato", sans-serif !important;
  font-size: 1.2rem !important;
  color: rgb(255, 255, 255, 1) !important;
  font-weight: 800 !important;
}

.nav-mob-subheader {
  font-family: "Lato", sans-serif !important;
  font-size: 1.4rem !important;
  color: rgb(255, 255, 255, 1) !important;
  font-weight: 700 !important;
}

.dropdown-divider-cast {
  border: 2px solid rgb(128, 0, 0, 1);
  margin-left: 2.5rem;
  margin-right: 6.2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.dropdown-divider-gallery {
  border: 2px solid rgb(128, 0, 0, 1);
  margin-left: 2.5rem;
  margin-right: 4.8rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.top-header {
  background: rgb(128, 0, 0, 0.7);
}

/*---Navbar Overlay for mobile---*/

.menu-icon {
  color: rgb(255, 255, 255, 1) !important;
  font-size: 40px;
  cursor: pointer;
}

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgb(0, 0, 0, 1);
  overflow: hidden;
}

.menu-content {
  position: relative;
  top: 16%;
  width: 100%;
  text-align: center;
}

.menu-content a {
  padding: 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Rammetto One", cursive;
  font-size: 1.2rem;
  color: rgb(255, 255, 255, 1);
}

.menu-content-sub {
  padding: 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Rammetto One", cursive;
  font-size: 1rem !important;
  color: rgb(255, 255, 255, 1);
}

.menu-content-intro {
  padding: 16px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  font-family: roboto, sans-serif;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  margin-top: 3rem;
  letter-spacing: 2px;
}

.menu-content-intro-links a {
  padding: 9px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
}

.menu-content a:hover {
  background-color: rgb(128, 0, 0, 1);
}

.menu-content-intro-links a:hover {
  background-color: rgb(128, 0, 0, 1);
}

.menu-container .closebtn {
  position: absolute;
  top: 24px;
  right: 48px;
  font-size: 50px;
  color: rgb(255, 255, 255, 1);
  z-index: 1;
  cursor: pointer;
}

/*---Footer---*/

.footernav {
  background-color: rgb(0, 0, 0, 1);
  color: rgb(255, 255, 255, 1);
}

.footer-link a:hover {
  color: rgb(128, 0, 0, 1) !important;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  overflow: hidden;
}

#footer-copyright p {
  margin-bottom: 0rem !important;
  text-align: center;
  font-size: 0.6rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 0rem;
  padding-top: 1.8rem;
  padding-bottom: 1.5rem;
}

.footer-media-links {
  margin-bottom: 0rem !important;
  text-align: center;
  margin-top: 0rem;
  padding-top: 1.8rem;
  padding-bottom: 1.5rem;
}

/*---NAVBAR MEDIA QUERIES---*/

/*---Desktop Nav - reduce font size for better viewing on smaller devices---*/
@media (max-width: 1300px) {
  .navbar-links {
    font-weight: 700 !important;
    font-size: 16px !important;
    color: rgb(255, 255, 255, 1) !important;
    text-decoration: none !important;
    padding-top: 2.5rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

/*---Desktop Nav - reduce font size for dropdown nav for better viewing on ipad---*/
@media (max-width: 970px) {
  .navbar-links {
    font-weight: 700 !important;
    font-size: 13px !important;
    color: rgb(255, 255, 255, 1) !important;
    text-decoration: none !important;
    padding-top: 2.5rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

/*---Desktop Nav - reduce font size for better viewing on smaller devices---*/
@media (max-width: 1300px) {
  .navbar-links-dropdpown {
    font-weight: 700 !important;
    font-size: 15px !important;
    color: rgb(255, 255, 255, 1) !important;
    text-decoration: none !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

/*---Desktop top-header - reduce font size for better viewing on smaller devices---*/
@media (max-width: 1300px) {
  .top-header-font {
    font-family: "Rammetto One", cursive !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    color: rgb(255, 255, 255, 1) !important;
  }
}

/*---Reduce font-size/ padding for subheader in dropdown for better viewing on smaller devices ---*/
@media (max-width: 1300px) {
  .nav-subheader {
    font-size: 1rem;
    padding-left: 1.5rem;
    font-weight: 800;
  }
}

/*---Change M/P for dropdown divider for better viewing on smaller devices ---*/
@media (max-width: 1300px) {
  .dropdown-divider-cast {
    margin-left: 1.5rem;
    margin-right: 5.3rem;
  }
}

/*---Change M/P for dropdown divider for better viewing on smaller devices ---*/
@media (max-width: 1300px) {
  .dropdown-divider-gallery {
    margin-left: 1.5rem;
    margin-right: 4rem;
  }
}

/*---Desktop Nav - reduce font size for dropdown nav for better viewing on ipad---*/
@media (max-width: 970px) {
  .navbar-links-dropdpown {
    font-weight: 700 !important;
    font-size: 11px !important;
    color: rgb(255, 255, 255, 1) !important;
    text-decoration: none !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

/*---Reduce font-size/ padding for subheader in dropdown for better viewing on IPAD ---*/
@media (max-width: 970px) {
  .nav-subheader {
    font-size: 0.9rem;
    padding-left: 1rem;
    font-weight: 800;
  }
}

/*---Change M/P for dropdown divider for better viewing on IPAD ---*/
@media (max-width: 970px) {
  .dropdown-divider-cast {
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

/*---Change M/P for dropdown divider for better viewing on IPAD ---*/
@media (max-width: 970px) {
  .dropdown-divider-gallery {
    margin-left: 1rem;
    margin-right: 0.9rem;
  }
}

/*---MT for dropdown menu box for better alignment against navbar---*/
@media (max-width: 970px) {
  .dropdown-menu-links {
    margin-top: 0.95rem !important;
  }
}

/*---LOGO/POSTER MEDIA QUERIES---*/

/*---Margin-top for poster in index.html for better viewing and spacing on mobile---*/
@media (max-width: 767px) {
  .margin-poster {
    margin-top: 1.3rem !important;
    margin-bottom: 0rem !important;
  }
}

/*---Margin-Top for ticket-source logo in content for better spacing on smaller devices---*/
@media (max-width: 767px) {
  .ticket-source2 {
    margin-top: 12px !important;
  }
}

/*---Desktop Nav - reduce logo size for better viewing on smaller devices---*/
@media (max-width: 1300px) {
  .header-logo img {
    height: 100px;
  }
}

/*---Desktop Nav - reduce logo size for better viewing on ipad---*/
@media (max-width: 970px) {
  .header-logo img {
    height: 90px;
  }
}

/*---CONTENT MEDIA QUERIES---*/

/*---Reduce font and pb for better viewing on smaller devices---*/
@media (max-width: 500px) {
  .page-main-header {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
}

/*---Padding-top for ticket-source logo for better spacing below text on smaller devices---*/
@media (max-width: 472px) {
  .ticket-source {
    padding-top: 20px;
  }
}

/*---Padding/ Margin reduce for better layout and more space for smaller devices---*/
@media (max-width: 767px) {
  .text-box-outside {
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 0rem;
  }
}

/*---Padding/ Margin reduce for better layout and more space for smaller devices---*/
@media (max-width: 767px) {
  #container-fluid-padding {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}


/*---Reduce font font for content header for better viewing on smaller devices---*/
@media (max-width: 767px) {
  .content-h {
    font-size: 1.1rem;
  }
}


/*---Reduce margin/ padding for better spacing for contet box on smaller devices---*/
@media (max-width: 767px) {
  .text-box-inside-content {
    margin-top: 1rem;
    padding-left: 1.2rem;
    padding-left: 1.2rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

/*---Reduce padding for better spacing for contet box on smaller devices---*/
@media (max-width: 767px) {
  .text-box-inside {
    padding-left: 1.2rem;
    padding-left: 1.2rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

/*---Reduce width of card for better viewing on smaller devices---*/
@media (max-width: 1199px) {
  .card {
    width: 18rem !important;
  }
}

/*---Reduce width of card for better viewing on samsung---*/
@media (max-width: 360px) {
  .card {
    width: 17rem !important;
  }
}

/*---Reduce width of card for better viewing on galaxy fold---*/
@media (max-width: 300px) {
  .card {
    width: 13rem !important;
  }
}

/*---Increase width for display 4 col for better viewing on smaller devices ---*/
@media (max-width: 1360px) {
  .card-ticket {
    width: 15rem !important;
  }
}

/*---Reduce width for display 3 col for better viewing on ipad ---*/
@media (max-width: 880px) {
  .card-ticket {
    width: 13rem !important;
  }
}

/*---Increase width for display 2 col for better viewing on large mobile ---*/
@media (max-width: 575px) {
  .card-ticket {
    width: 18rem !important;
  }
}

/*---Increase width for display 2 col for better viewing on galazy fold ---*/
@media (max-width: 300px) {
  .card-ticket {
    width: 12rem !important;
  }
}

/*---Padding images for gallery for better viewing on smaller devices ---*/
@media (max-width: 575px) {
  .padding-images {
    padding: 1.5rem 0.5rem 1rem 0.5rem;
  }
}

/*---Margin increase for better viewing on mobile for footer content---*/
@media (max-width: 767px) {
  body {
    margin: 0 0 90px;
  }
}

/*---Height increase for better viewing on mobile for footer content---*/
@media (max-width: 767px) {
  #footer {
    height: 90px;
  }
}

/*---Padding adjustments for for better viewing on mobile for footer content ---*/
@media (max-width: 767px) {
  #footer-copyright p {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

/*---Padding adjustments for for better viewing on mobile for footer content ---*/
@media (max-width: 767px) {
  #footer-media-links {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}


/*---Testimonial content. smaller font for mobile. ---*/
@media (max-width: 767px) {
  .content-p-testimonials {
    font-size: 1.1rem;
  }
}

/*---Padding top for testimonial header for better viewing on mobile ---*/
@media (max-width: 832px) {
  .padding-top-testimonial {
    padding-top: 1rem
  }
}