{% load static %}

<div id="footer" class="container-fluid footernav">
    <div class="row">
        <div class="col-3 pt-2 pb-1">
            <a class="nav-item navbar-links" href="{% url 'about' %}">About Us</a>
        </div>
        <div class="col-3 pt-2 pb-1">
            <a class="nav-item navbar-links" href="{% url 'contact' %}">Contact</a>
        </div>
        <div id="footer-copyright" class="col-6 pt-2 pb-1">
            <p>Copyright <i class="far fa-copyright"></i> 2023 Murray Bealby. All Rights Reserved.</p>
        </div>
    </div>
</div>