{% load static %}

<style>
    /*---Desktop Nav - reduce font size for dropdown nav for better viewing on ipad---*/
    .footer-link a:hover {
        color: rgb(128, 0, 0, 1) !important;
    }

    .footer-link-footer {
        color: rgb(255, 255, 255, 1) !important;
    }

    .navbar-links-footer {
        font-family: "Rammetto One", cursive !important;
        text-transform: uppercase !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        color: rgb(255, 255, 255, 1) !important;
        text-decoration: none !important;
        padding-top: 2.5rem !important;
        padding-right: 2.5rem !important;
        padding-left: 2.5rem !important;
    }

    /*---Footer Nav - reduce font size and padding for better viewing on smaller devices---*/
    @media (max-width: 970px) {
        .navbar-links-footer {
            font-weight: 700 !important;
            font-size: 12px !important;
            color: rgb(255, 255, 255, 1) !important;
            text-decoration: none !important;
            padding-top: 2.5rem !important;
            padding-right: 1rem !important;
            padding-left: 1rem !important;
        }
    }

    /*---Footer Nav - reduce font size for better viewing on smaller devices---*/
    @media (max-width: 1300px) {
        .navbar-links-footer {
            font-weight: 700 !important;
            font-size: 14px !important;
            color: rgb(255, 255, 255, 1) !important;
            text-decoration: none !important;
            padding-top: 2.5rem !important;
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }
    }
</style>

<div id="footer" class="container-fluid footernav">
    <div class="row">
        <div class="col-6 col-md-3 pt-4 text-center footer-link pb-0">
            <a class="nav-item navbar-links-footer" href="{% url 'about' %}">About</a>
        </div>
        <div class="col-6 col-md-3 pt-4 text-center footer-link pb-0">
            <a class="nav-item navbar-links-footer" href="{% url 'contact' %}">Contact</a>
        </div>
        <div class="col-12 col-md-6" id="footer-copyright">
            <p>Copyright <i class="far fa-copyright"></i> 2023 Murray Bealby. All Rights Reserved.</p>
        </div>
    </div>
</div>