{% load static %}

<style>
    /*---Styling within template to fix footer for Edge browsers---*/
    .footer-link a:hover {
        color: rgb(128, 0, 0, 1) !important;
    }

    .footer-link-footer {
        color: rgb(255, 255, 255, 1) !important;
    }
</style>

<div id="footer" class="container-fluid footernav">
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <a href="https://www.facebook.com/ignite.fringe" aria-label="Read more at Ignite Theatre Facebook page"
                target="_blank"><i class="fab fa-facebook-square"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/ignitetheatre.company/"
                aria-label="Read more at Ignite Theatre instagram page" target="_blank"><i
                    class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'contact' %}" aria-label="Contact us by email"><i class=" fa-solid fa-envelope"></i></a>
        </div>
        <div class="col-12 col-md-6" id="footer-copyright">
            <p>Copyright <i class="far fa-copyright"></i> 2023 Murray Bealby. All Rights Reserved.</p>
        </div>
    </div>
</div>