{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid d-lg-none">
    <div class="row top-header">
        <div class="col">
            <p class="top-header-font text-center pb-1 pt-2 m-0">About</p>
        </div>
    </div>
</div>

<section class="container-fluid" id="container-fluid-padding">

    <div class="row text-box-outside">

        {% for hall in halls %}

        <!---Content 1---->
        <div class="text-box-inside">
            <div class="col-6 col-md-8 offset-md-2 mt-4">
                    <p class="content-p">
                        {{ hall.meeching_hall_content|linebreaksbr }}
                    </p>
            </div>
            <div class="col-6 mt-4">
                <img src="{{ hall.meeching_hall_image.url }}"
                srcset="{{ hall.meeching_hall_image.url }}"
                class="img-fluid retail-logo-title pb-1"
                width=200 alt="{{ hall.name }}" />
            </div>
        </div>
        {% endfor %}
 
    </div>

    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Scroll to top feature-->
<script>

    //Scroll to Top
    function scrollFunction() {
        var myScrollToTopBtn = document.getElementById("my-scroll-to-top-btn");
        if (window.pageYOffset > 700) {
            myScrollToTopBtn.style.display = "block";
            myScrollToTopBtn.style.visibility = "visible";
        } else {
            myScrollToTopBtn.style.display = "none";
            myScrollToTopBtn.style.visibility = "hidden";
        }
    }

    window.onscroll = function () { scrollFunction() };

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

{% endblock %}