{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">

        <!---Content 1--->
        <div class="text-box-inside">
            <div class="col-12 col-md-8 offset-md-2">
                <p class="page-main-header text-uppercase mt-4 mb-4">
                    Ignite Theatre
                </p>
                <p class="content-p">
                    Newhaven's new theatre company Ignite Theatre are
                    committed to delivering high calibre, affordable theatre to
                    Newhaven and surrounding areas. We work with local
                    community groups and create opportunities to be involved.
                </p>
                <p class="content-p">
                    For us, nothing can beat the buzz of feeling inspired and moved... to share
                    laughter, outrage,
                    sadness or glee as a
                    shared experience.
                </p>
                <p class=" content-p">
                    To enjoy a slice of life in a space, where a part of the story is your own.
                </p>
                <p class="content-p">
                    A space, an audience, some actors and a story are the elements to make some
                    magic happen in this
                    vintage venue for our
                    kinsfolk.
                </p>
                <p class="content-p">
                    Please follow and join us on facebook:
                </p>
                <p>&emsp;<i class="fas fa-arrow-right">
                    </i>&emsp;<a href="https://www.facebook.com/ignite.fringe" target="_blank" class="facebook"><i
                            class="fab fa-facebook-square"></i></a>
                </p>
                <p class="content-p">
                    All suggestions or feedback are welcome at:
                </p>
                <p class="content-p-email"> &emsp;<i class=" fas fa-arrow-right">
                    </i>&emsp;<a href="mailto:hello.ignite.theatre@gmail.com?"
                        target="_blank">hello.ignite.theatre@gmail.com</a>
                </p>
                <p class="content-p mb-4">
                    We look forward to welcoming you
                </p>
            </div>
        </div>

        <!---Content 2--->
        <div class="text-box-inside-content mb-5">
            <div class="col-12 mt-4">
                <p class="content-h mb-2 text-uppercase pb-3">
                    <i class="fas fa-handshake"></i>&emsp;Supporters
                </p>
                <div class="row pb-2">
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <a target="_blank" href="http://www.visitsoutheastengland.com/">
                            <img class="img-fluid supporters" src="{% static 'images/logo/south-east-england.png' %}"
                                alt="South East england Logo" />
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <img class="img-fluid supporters" src="{% static 'images/logo/NF21.png' %}" alt="NF21 logo" />
                    </div>
                    <div class="col-sm-12 col-md-4 mb-4 text-center">
                        <img class="img-fluid supporters" src="{% static 'images/logo/NTC.png' %}" alt="NTC logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}