{% extends "base.html" %} {% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/form.css' %}" />
{% endblock %}

{% block content %}

<section class="container-fluid" id="container-fluid-padding">
    <div class="row text-box-outside">
        <!---Content 1--->
        <div class="col-12 text-center">
            <p class="page-main-header text-uppercase mt-4">
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Get In Touch
            </p>
        </div>
        <div class="col-lg-8 offset-lg-2 mt-3 mb-5">
            <form method="post">
                {% csrf_token %} {{ form|crispy }}
                <div class="form-actions page-main-sub-headers mt-4">
                    <button type="submit" class="btn-form">Send&nbsp;&nbsp;<i class="fas fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>

<!--Push footer down-->
<div class="container-fluid">
    <div class="row email-footer-margin">
    </div>
</div>

{% endblock %}