{% extends "base.html" %} {% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/form.css' %}" />
{% endblock %}

{% block content %}

<div class="container-fluid d-lg-none">
    <div class="row top-header">
        <div class="col">
            <p class="top-header-font text-center pb-1 pt-2 m-0">Contact</p>
        </div>
    </div>
</div>


<section class="container-fluid" id="container-fluid-padding">

    <div class="row top-header d-none d-lg-block">
        <div class="col">
            <p class="top-header-font text-center pb-1 pt-2 m-0">Contact</p>
        </div>
    </div>

    <div class="row text-box-outside">
        <!---Content 1--->
        <div class="col-12 text-center mt-3 mb-2">
            <p class="page-main-header text-uppercase">
                <i class="fa-solid fa-envelope no-hover"></i>&nbsp;&nbsp;&nbsp;Get In
                Touch
            </p>
        </div>
        <div class="col-lg-8 offset-lg-2 mt-3 mb-5">
            <form method="post">
                {% csrf_token %} {{ form|crispy }}
                <div class="form-actions page-main-sub-headers mt-4">
                    <button type="submit" class="btn-form page-main-header">Send&nbsp;&nbsp;<i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}